table, th, td {
	border: black 2px solid;
	border-collapse: collapse;
}

.centeredItems {
	width: 307px;
	text-align: center;
}

.listImg {
	display: flex-inline;
	height: 198px;
	width: 130px;
	border-radius: 10%;
}

.listText {
	margin: 16px;
}

.listDisp {
	display: flex;
  	align-items: center;
  	text-align: center;
}

.mainContainer {
	padding: 10%;
	align-items: center;
  	text-align: center;
	
}