body {
	background-color: #D3D3D3;
}

img {
	width: 250px;
	height: 350px;
	margin: auto;
}

.carousel {
	margin: auto;
}

.centeredItems {
	justify-content: center;
}

.mar-tb {
	margin-top: 10px;
	margin-bottom: 10px;
}

.movieCarousel {
	background-color: black;
	width:600px;
	height: 400px;
}