html, body {
    height: 100%;
    padding: 0;
    margin:0;
}


.advertisements{
	background-color: blue;
	min-height: 20%;
	max-height: 95%;
	width: 30%;
	height: 90%;
	display: inline-block;
	float: right;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
}

.contentBody {
	height: 60%;
}

.footer{
	background-color: maroon;
	width: 100%;
    height: 20%;
    min-height: 20%;
}

.listElement{
	list-style-type:none;
	height: 100%;
}

.menu {
	max-height: 50%;
	min-height: 20%;
	width: 30%;
	height: 40%;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menuBlocks {
	background-color: green;
	max-height: 33%;
	min-height: 20%;
	height:25%;
	margin: 1%;
}

.navigation{
  width: 100%;
  height: 20%;
  min-height: 20%;
  background-color: #ed1c24;

}