html, body {
	magin: 0;
	padding: 0;
}

.cardsContainer{
	
}

.centeredText{
	text-align: center;
}

.footer{
	background-color: #555;
	width: 100%;
    height: 100%;
}

.grayBackground{
	background-color: #f8f9fa;
}

.imageBox {
	max-width: 900px;
	max-height: 400px;
	padding: 0;
}

.imageBox img{
	width: 100%;
	border-radius: 5px 5px 2px 2px;
}

.magentaBackground{
	background-color: #e06c9f;
}

.ourCaption {
	text-align: center;
	padding: 0;
	color: #fff;
	margin-top: 1%;
}

.orangeBackground{
	background-color: #ee9b00;
}

.rowTwo {
	margin: 2% 8% 2% 8%;
}

.rowOne {
	margin: 2% 8% 2% 8%;
}

.tealBackground{
	background-color: #6ae8e8;
}

.yellowBackground{
	background-color: #fee440;
}