
.bookImage {
	max-width: 100%;
	height: 90%;
}

.buyButton {
	width: 75%;
	margin: 5px 10 5px;
	font-size: 1.5vmax;
}

.centerGray div{
	background-color: #a9a9a9;
	justify-content: center;
}

.centerGray {
	margin: 0;
	height: 100%;
	width: 100%;
}
.checked {
  color: #CCCCCC;
}


.conditionals {
	font-size: .8em;
}

.centeredText{
	text-align: center;
}

.darkGray{
	background-color: #a9a9a9;
}

.noPad{
	padding: 0;
}

.reducedText{
	font-size: .8em;
}

.rowOne {
	margin-bottom: 2%;
}

.rowThree{
	margin-top: 2vh;
	padding: 2%;
	background-color: #c0c0c0;
	border-radius: 1.5%;
}

.generallyGray{
	background-color: #f5f3f4;
}

#buyNow{
	background-color: #0069B0;
	border-radius: 12%;
	color: #FFFAFA;
}

#addCart{
	background-color: #3A9FCF;
	border-radius: 12%;
	color: #FFFAFA;
}
#returnButton{
	color: #de2431;
}
