img {
	width: 150px;
	height: 150px;
	border: solid;
}

.footer {
	background-color: #555;
	text-align: center;
	color: white;
	margin-top: 10px;
}

.myBox{
	background-color: rebeccapurple;
	height: 200px;
	width: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 20px;
	color: white;
	margin: auto;
	margin-top: 10px;
}